

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>
<h2 class="text-center">Sign up</h2>
  
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Enter your email address", input_html: {class: "form-control"} %>
    <%= f.input :password, required: true, label: false, placeholder: "Enter your password", hint: ("#{@minimum_password_length} characters minimum" if @validatable), input_html: {class: "form-control"} %>
    <%= f.input :password_confirmation, required: true, label: false, placeholder: "Re-enter your password", input_html: {class: "form-control"} %>
  

  
    <%= f.button :submit, "Sign up", class: "btn btn-success btn-block" %>
  
<% end %>

<%= render "devise/shared/links" %>
